<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
  <title>Person Notes</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">

<div class="container py-4">
  <header class="pb-3 mb-4 border-bottom border-primary text-dark">
    <span class="fs-4">SQL Notes Page</span>
  </header>
</div>
<div class="container py-4 text-light bg-success">
  <div class="container bg-secondary py-4">
    <div class="p-5 mb-4 bg-light text-dark rounded-3">
      <h2 th:text="'Notes for ' + ${person.name}"></h2>
      <hr>
      <!--Notes input form, textarea supports multiple lines of input  -->
      <form class="form-inline" action="#" th:action="@{/database/notes}" th:object="${note}" method="POST">
        <table class="table">
          <thead>
          <tr>
            <!-- avoid warnings on binding person.id line -->
            <label for="id" hidden>ID</label>
          </tr>
          <tr>
            <th><label for="text">Create a new note:</label></th>
          </tr>
          </thead>
          <tbody>
            <tr>
              <!-- everything fails without binding person.id -->
              <input type="number" th:field="*{person.id}" id="id" hidden class="form-control-plaintext" >
            </tr>
            <tr>
              <td><textarea rows = "5" cols = "100%" th:field="*{text}" id="text" required></textarea></td>
            <td><input type="submit" value="Add" ></td>
          </tr>
          </tbody>
        </table>
      </form>
      <hr>


      <div class="table-responsive">
        <table class="table">
          <tbody>
            <!--Notes output area, Jinja lines iterate through notes,
                note.text is html converted from markdown requires th:utext
            -->
            <tr th:each="i : ${#numbers.sequence(notes.size() - 1, 0, -1)}"
                th:with="n=${notes[i]}">
              <td><span th:utext="${n.text}"></span></td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>

</div>