<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> page additions -->
<th:block layout:fragment="head" th:remove="tag">
    <title>Search Google</title>
</th:block>

<th:block layout:fragment="body" th:remove="tag">
      <script async src="https://cse.google.com/cse.js?cx=c68e54d25c6240b93"></script>
<div class="gcse-search"></div>
    <form role="search" id="form">
        <input type="search" id="query" name="q" placeholder="Search..." aria-label="Search through site content">
        <button>search</button>
    </form>
    <script>
        const f = document.getElementById('form');
        const q = document.getElementById('query');
        const google = 'https://www.google.com/search?q=site%3A+';
        const site = 'https://nighthawkcodingsociety.com';

        function submitted(event) {
            event.preventDefault();
            const url = google + site + '+' + q.value;
            const win = window.open(url, '_blank');
            win.focus();
        }

        f.addEventListener('submit', submitted);
    </script>
</th:block>
</html>
