<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<!-- <body> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Grayscale - Image Processing </title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container">
        <h1 class="text-center">Grayscale Images</h1>
        <img src="#" th:src="${str}" alt="">
    </div>
</div>

</html>