<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Grayscale - Image Processing </title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    <div class="container">
        <h1 class="text-center">Grayscale Images</h1>
        <img th:src="${str}">
    </div>
</div>
</body>

</html>