<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<head><div layout:fragment="metadata" th:remove="tag">
    <title>Person Update</title>
</div></head>

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<body><div layout:fragment="content" th:remove="tag">
    <div style="margin: 2%;">
        <h3>Welcome, Update The Persons Details</h3>
        <!-- ThymeLeaf allows person abject of the Class Person to be acted upon by the form
         This is known as a “bean-backed form” or "form-backing bean".
            th:object - the backend form object (bean object)
         There are two fields in the Person bean,
            th:field="*{name}"
            th:field="*{age}".
         Each field has supporting line for to show errors in validation
            th:errors - form input errors added when validation errors occur
         Reference
            https://www.baeldung.com/spring-boot-crud-thymeleaf
         .-->
        <form action="#" th:action="@{/sql/personupdate}" th:object="${person}" method="POST">
            <table>
                <tr>
                    <td>ID:</td>
                    <td th:text="${person.id}">Person ID</td>
                    <!-- hidden field is CRITICAL else id will be null on action -->
                    <td><input type="hidden" th:field="*{id}" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td th:text="${person.email}">EMail</td>
                    <td><input type="hidden" th:field="*{email}" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td><input type="text" th:field="*{name}" /></td>
                    <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
                </tr>
                <tr>
                    <td>Birth Date:</td>
                    <td th:text="${#dates.format(person.dob, 'MM-dd-yyyy')}">Birth Date</td>
                    <td><input type="hidden" th:field="*{dob}" readonly="readonly" /></td>
                </tr>
                <tr>
                    <td><button type="submit">Save</button></td>
                </tr>
            </table>
        </form>
    </div>
</div></body>

</html>
