<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg==" crossorigin="anonymous" />
    <title>Tutors</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <div class="main flex">
        <article id="ContentZone"><div id="MainContent" class="content" universal_="true" data-content="true">
            <h1><strong>Online Tutoring</strong></h1>
            <p>Online tutoring delivers the same high-quality experience you'd expect
                from TutorVue but with a number of additional benefits.</p>
            <p>
                <strong>Location is no longer a barrier. </strong>No matter where you live, we can find the perfect tutor for your child.
                Once you've found that tutor, you can stick with them, wherever you are
                and wherever they are. There's no risk of tutoring being interrupted by
                bad-weather, accidents or vacations (unless you want it to be).
            </p>
            <p>
                <strong>Online tutoring can make your life easier.</strong> We know your schedules are hectic and finding an hour or two in the week
                to fit tutoring in can be a real challenge. Moving online opens up more
                time slots and means tutoring can happen from anywhere with a decent internet
                connection. You also don't have to worry about cleaning the house before
                the tutor comes around!
            </p>
            <p>
                <strong>Remember everything.</strong> Every online tutoring session with TutorVue is recorded, so the student
                can review it later. This helps them retain information and refresh their
                memory before that vital exam. This is especially valuable for older students
                studying STEM subjects and is one of the major reasons for choosing online
                tutoring over offline tutoring.*
            </p>
            <span id="MainContent_1" data-process="if" style="display:none" nofield="{Cookie:L}">
	<div class="c-cta content-cta">
		<h2>Limited Time Offer Alert</h2>Claim your FREE student Consultation while slots are available:
		<a class="btn v1" href="/contact-us/">Claim Here!</a>
	</div>
</span>
            <span id="MainContent_2" data-process="if" style="display:none" field="{Cookie:L}">
	<div class="c-cta content-cta">
		<h2>Limited Time Offer Alert</h2>Claim your FREE student Consultation while slots are available:
		<a class="btn v1" href="/san-diego/contact-us/">Claim Here!</a>
	</div>
</span>
            <h3><strong>Why Online tutoring with TutorVue?</strong></h3>
            <p>Whether tutoring online or offline - the same process applies. Students
                are assessed and matched with the best possible tutor. They receive a
                tailored program and support throughout their learning journey.</p>
            <div class="videoWrapper">
                <iframe width="660" height="415" src="https://www.youtube.com/embed/otuB_58AIcc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <p>Students receive the same benefit of working at their own pace with a tutor
                that has tailored the lesson to their individual needs and learning style.
                Online tutoring is convenient and can take place anytime and anywhere.</p>
            <p>With online tutoring, students can access previously recorded sessions
                and easily review past sessions or prior material they covered with their
                tutors. Students can use these recorded sessions to review for tests,
                exams, or simply to seek clarification on homework assignments. Students
                can better focus their attention to the lesson at hand, knowing they can
                revisit the session to organize their notes after.*</p>
            <h6>*Contact your local TutorVue office to request tutoring session recordings</h6>
            <h3><strong>Testimonials:</strong></h3>
            <div class="c-cta">
                <p><em>&quot;We've been working with TutorVue for the last year and a half.
                    They moved seamlessly into distance learning as soon as the pandemic started.
                    Our tutor Karen is amazing. She's always so positive with our son and
                    she has amazing patience. We love that we can connect with her directly
                    about what we'd like her to work on with him. She's super flexible when
                    we've had a change in our schedule.&quot;</em></p>
                <p><strong class="clr-pry">Mary Z., Portland, OR</strong></p>
            </div>
            <div class="c-cta">
                <p><em>&quot;TutorVue provided us with exceptional private online tutoring
                    and helped my son improve his reading comprehension skills and class grade.
                    Our tutor, Rebecca, has done an amazing job. She is very knowledgeable
                    and is very flexible with scheduling. I would definitely recommend TutorVue
                    for anyone who is looking for tutoring services!&quot;</em></p>
                <p><strong class="clr-pry">Manar D., San Antonio, TX</strong></p>
            </div>
            <div class="c-cta">
                <p><em>&quot;The tutorvue has been amazing for my daughter. She has developed
                    a confidence in math that she never had before thanks to her wonderful
                    tutor. She has obtained skills to make her more successful in math with
                    the conviennent online sessions. The online sessions are wonderful because
                    we are still able to get the benefits but stay safe within our home at
                    the same time. I would highly recommend the online sessions, the one hour
                    sessions are engaging and full of amazing learning.&quot;</em></p>
                <p><strong class="clr-pry">Melissa T., Sudbury, ON</strong></p>
            </div>






            <div class="demo">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="testimonial-slider" class="owl-carousel">
                                <div class="testimonial">
                                    <span class="icon fa fa-quote-left"></span>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                                    </p>
                                    <div class="testimonial-content">
                                        <div class="pic"><img src="images/img-1.jpg" alt=""></div>
                                        <h3 class="title">williamson</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <span class="icon fa fa-quote-left"></span>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                                    </p>
                                    <div class="testimonial-content">
                                        <div class="pic"><img src="images/img-2.jpg" alt=""></div>
                                        <h3 class="title">Kristina</h3>
                                        <span class="post">Web Designer</span>
                                    </div>
                                </div>
                                <div class="testimonial">
                                    <span class="icon fa fa-quote-left"></span>
                                    <p class="description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam justo neque, aliquet sit amet elementum vel, vehicula eget eros. Vivamus arcu metus, mattis sed sagittis at, sagittis quis neque. Praesent.
                                    </p>
                                    <div class="testimonial-content">
                                        <div class="pic"><img src="images/img-3.jpg" alt=""></div>
                                        <h3 class="title">Steve Thomas</h3>
                                        <span class="post">Web Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <script>
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css">

            .demo{ background: #bd986b; }
            .testimonial{
            background: #fff;
            text-align: center;
            padding: 30px 30px 50px;
            margin: 0 15px 100px;
            position: relative;
            }
            .testimonial:before,
            .testimonial:after{
            content: "";
            border-top: 40px solid #fff;
            border-right: 125px solid transparent;
            position: absolute;
            bottom: -40px;
            left: 0;
            }
            .testimonial:after{
            border-right: none;
            border-left: 125px solid transparent;
            left: auto;
            right: 0;
            }
            .testimonial .icon{
            display: inline-block;
            font-size: 80px;
            color: #bd986b;
            margin-bottom: 20px;
            opacity: 0.6;
            }
            .testimonial .description{
            font-size: 15px;
            color: #777;
            text-align: left;
            margin-bottom: 30px;
            opacity: 0.8;
            }
            .testimonial .testimonial-content{
            width: 100%;
            position: absolute;
            left: 0;
            }
            .testimonial .pic{
            display: inline-block;
            border: 2px solid #fff;
            border-radius: 50%;
            box-shadow: 0 0 2px 2px #daad86;
            overflow: hidden;
            z-index: 1;
            position: relative;
            }
            .testimonial .pic img{
            width: 100%;
            height: auto;
            }
            .testimonial .title{
            font-size: 15px;
            font-weight: bold;
            color: #fff;
            text-transform: capitalize;
            margin: 0 0 5px 0;
            }
            .testimonial .post{
            display: block;
            font-size: 14px;
            color: #ffd9b8;
            }
            .owl-theme .owl-controls{
            margin-top: 0;
            }
            .owl-theme .owl-controls .owl-page span{
            width: 32px;
            height: 10px;
            background: #fff;
            border: 2px solid #bd986b;
            margin: 5px;
            opacity: 1;
            }
            .owl-theme .owl-controls .owl-page.active span,
            .owl-theme .owl-controls.clickable .owl-page:hover span{
            background: #ffd9b8;
            border-color: #fff;
            }
            @media only screen and (max-width: 650px) and (min-width: 400px){
            .testimonial:before{ border-right: 325px solid transparent; }
            .testimonial:after{ border-left: 325px solid transparent; }
            }

           </script>
            </body>
            <div class="my-5 py-5">
            </div>