<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg==" crossorigin="anonymous" />
    <title>Tutors</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <div class="container">
        <h1><strong>Private Tutoring for all subjects and all types of learners</strong></h1>
        <p>At TutorVue, we offer in-home and online tutoring services for a wide
            range of subjects. From math and science to test preparation, we handle
            it all! Whatever your needs, you can trust that the professionals at Tutor
            Doctor are well-equipped to help you reach your academic goals. In fact,
            our program comes highly recommended by more than 95% of past and current
            customers.</p>

        <p><strong>Just a few of our tutoring services we offer include the following:</strong></p>
        <ul class="two-col">
            <li><a href="/tutoring-services/subject-tutoring/math-tutoring/">Math tutoring</a></li>
            <li><a href="/tutoring-services/subject-tutoring/science-tutoring/">Science tutoring</a></li>
            <li><a href="/tutoring-services/subject-tutoring/english-tutoring/">English tutoring</a></li>
            <li><a href="/tutoring-services/language-tutoring/">Language tutoring</a></li>
            <li><a href="/tutoring-services/test-prep-services/">Test preparation</a></li>
        </ul>

        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
                <h3>We Match Students with the Right Tutor for Their Needs</h3>
                <ul>
                    <li>TutorVue has been featured on ABC, NBC &amp; Fox News.</li>
                    <li>We utilize more than 24,000 tutors in 15 different countries.</li>
                    <li>We have been tutoring students of all ages for over a decade.</li>
                    <li>Our programs have helped more than 200,000 people.</li>
                </ul>
                <h3>Knowledge + Discipline = Success</h3>
                <p>TutorVue's X-Skills allows us to create a unique academic game plan
                    for every student and coach them through the process of achieving academic success.</p>
                <p><a class="btn v2" href="/tutoring-services/special-tutoring-programs/x-skills/">Find Out More!</a></p>

            </div>
        </div>
        <p>Interested in learning more about our in-home and online tutoring services?
            If so, we encourage you to get in touch with the team at TutorVue
            today. We offer free, no-obligation consultations to get you started,
            so you would have nothing to lose by giving us a call. We are recommended
            by students and parents alike, so you can trust that your education will
            be in good hands with TutorVue!</p>
        <div class="column">
            <br>
            <div class="card">
                <div class="container">
                    <h2><p style="text-align:center">Call</p></h2>
                    <p>tel: (858) 123-4566 to learn more about our tutoring programs.</p>
                </div>
            </div>
        </div>

    </div>


</div>
