<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> page additions -->
<th:block layout:fragment="head" th:remove="tag">
    <title>Data Filters</title>
</th:block>

<!-- <body> -->
<th:block layout:fragment="body" th:remove="tag">
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Data Ops Lab</span>
            </div>
        </header>

        <!-- Form and Action -->
        <div class="row p-3 mb-4 bg-primary text-dark rounded-3">
            <div class="row p-3">
                <h3 class="text-center">Data Filtering and Sorting</h3>
                <hr class="style1">
            </div>
            <!-- Input -->
            <div class="col-md-6">
                <h6><strong>Data Summary</strong></h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">First Row</th>
                        <th scope="col">Last Row</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <!-- Circle Queue Highlight database (summary)  -->
                        <td th:text="${this.getCount()}"></td>
                        <td th:text="${this.getQueue().getFirstObject()}"></td>
                        <td th:text="${this.getQueue().getLastObject()}"></td>
                    </tr>
                    </tbody>
                </table>

                <h6><strong>Select checkbox and radio buttons to filter</strong></h6>
                <form id="fibForm" th:action="@{/mvc/dataops}" th:object="${this}" method="POST" >
                    <div class="jumbotron text-left row">
                        <!-- Animals -->
                        <div class="col-md-4">
                            <!-- Checkbox on/off works off of @Getter for boolean isAnimal() -->
                            <input type="checkbox" id="animal" name="animal" value="1" th:checked="${this.isAnimal()}">
                            <label for="animal">Animals</label>
                            <div class="form-group">
                                <label>Sort by</label>
                                <!-- Sort by Radio buttons:
                                1. option(s) are generated directly from Animal.KeyType
                                2. animalKey is the result of radio button selection
                                3. each radio option is provided a unique id, review rendered code to see expansion
                                -->
                                <div th:each="option : ${T(com.nighthawk.csa.mvc.dataOps.genericDataModel.Animal.KeyType).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{animalKey}" th:value="${option}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('animalKey')}" th:text="${option}">option</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Cupcakes -->
                        <div class="col-md-4">
                            <input type="checkbox" id="cake" name="cake" value="1" th:checked="${this.isCake()}">
                            <label for="cake">Cup Cakes</label>
                            <div class="form-group">
                                <label>Sort by</label>
                                <div th:each="option : ${T(com.nighthawk.csa.mvc.dataOps.genericDataModel.Cupcakes.KeyType).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{cakeKey}" th:value="${option}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('cakeKey')}" th:text="${option}">option</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Alphabet -->
                        <div class="col-md-4">
                            <input type="checkbox" id="alpha" name="alpha" value="1" th:checked="${this.isAlpha()}">
                            <label for="alpha">Alphabet</label>
                            <div class="form-group">
                                <label>Sort by</label>
                                <div th:each="option : ${T(com.nighthawk.csa.mvc.dataOps.genericDataModel.Alphabet.KeyType).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{alphaKey}" th:value="${option}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('alphaKey')}" th:text="${option}">option</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button>Go!</button>
                </form>

            </div>

            <div class="col-md-6">
                <h6><strong>Data Details</strong></h6>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Rows</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="line: ${this.getCQList()}">
                        <td th:text="${line}" ></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
        <!-- Source Code
        <div class="col-12" style="text-align: left; ">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FDataOpsController.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fresources%2Ftemplates%2Falgorithm%2Fdata.html&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FgenericDataModel%2FAnimal.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Fmodel%2Flinkedlists%2FCircleQueue.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
        </div>
        -->
    </div>
</th:block>

</html>
