<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> additions -->
<th:block layout:fragment="head" th:remove="tag">
    <title>Fibonacci Algo</title>
</th:block>

<!-- <body> page specific -->
<th:block layout:fragment="body" th:remove="tag">
    `<div class="container py-4">

        <header class="pb-3 mb-4 border-bottom border-primary">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <img class="img-responsive py-3" src="#" th:src="@{/images/fibonacci_spiral.svg}" alt="" width="5%" height="Auto">
                <span class="fs-4">4 ways to build a Fibonacci series in Java</span>
            </div>
        </header>

        <div class="row mb-4 bg-primary text-dark rounded-3">
            <div class="row p-3">
                <h3 class="text-center">Fibonacci Sequence Calculator</h3>
                <hr class="style1">
            </div>
            <!-- Form and Action -->
            <div class="row p-3">
                <!-- Input -->
                <div class="col-md-6 text-center">
                    <h6><strong>Type the nth number in the fibonacci sequence?</strong></h6>
                    <form id="fibForm" th:action="@{/mvc/fibonacci}" method="GET" >
                        <input name="fibseq" id="fibseq" type="number" min="2" max="92" >
                        <button>Go!</button>
                    </form>
                </div>
                <!-- Output/Result -->
                <div class="col-md-6">
                    <h6><strong>Algorithm comparison</strong></h6>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">Method</th>
                            <th scope="col">Time</th>
                            <th scope="col">Number</th>
                            <th scope="col">List</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="fib : ${fibList}">
                            <td th:text="${fib.getName()}"></td>
                            <td th:text="${fib.getTimeElapsed()}"></td>
                            <td th:text="${fib.getNth()}"></td>
                            <td th:text="${fib.getList()}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--
            <div class="col-12" style="text-align: left; ">
                <a href="https://github.com/nighthawkcoders/nighthawk_csa/tree/master/src/main/java/com/nighthawk/csa/algorithm/fibonacciModel">fibonacci Package</a>
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FfibonacciModel%2FFibFor.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FfibonacciModel%2FFibWhile.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FfibonacciModel%2FFibRecurse.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
                <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FfibonacciModel%2FFibStream.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            </div>
            -->
        </div>
    </div>
</th:block>`

</html>
