<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> additions -->
<th:block layout:fragment="head" th:remove="tag">
  <title>Strings Algo</title>
</th:block>

<!-- <body> page specific -->
<th:block layout:fragment="body" th:remove="tag">
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary">
      <div class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">String Ops Lab</span>
      </div>
    </header>

    <div class="row mb-4 bg-primary text-dark rounded-3">

      <div class="row p-3">
        <h3 class="text-center" id="title" th:text="${object.getTitle()}"></h3>
        <hr class="style1">
      </div>

      <div class="col-md-6 p-3"> <!- Start left Column ->

        <h6><strong>String Sequence</strong></h6>
        <hr class="style1">
        <h6 id="sequence" th:text="${object}"></h6>
        <hr class="style1">

        <div class="row p-3">
          <label for="new_title">Title and start New string sequence</label>
          <div class="col-10">
            <input type="text" class="form-control" id="new_title" placeholder="input title for new sequence">
          </div>
          <div class="col-1">
            <button class="btn btn-primary bg-secondary" onclick="sequence('new');">New!</button>
          </div>
        </div>

        <div class="row p-3">
          <label for="new_sequence">Set String Sequence</label>
          <div class="col-10">
            <input type="text" class="form-control" id="new_sequence" placeholder="input data for the string sequence">
          </div>
          <div class="col-1">
            <button class="btn btn-primary bg-secondary" onclick="sequence('init');">Set!</button>
          </div>
        </div>

        <div class="row p-3">
          <label for="append_segment">Append Segment</label>
          <div class="col-10">
            <input type="text" class="form-control" id="append_segment" placeholder="input segment to append to the string sequence">
          </div>
          <div class="col-1">
            <button class="btn btn-primary bg-secondary" onclick="sequence('append');">Append!</button>
          </div>
        </div>

        <div class="row p-3">
          <label for="insert_segment">Insert Segment</label>
          <div class="col-6">
            <input type="text" class="form-control" id="insert_segment" placeholder="input segment to insert">
          </div>
          <div class="col-2">
            <label for="insert_location">at index</label>
          </div>
          <div class="col-2">
            <input type="number" class="form-control" id="insert_location" value="0" min="0">
          </div>
          <div class="col-1">
            <button class="btn btn-primary bg-secondary" onclick="sequence('insert');">Insert!</button>
          </div>
        </div>

        <div class="row p-3">
          <h6>Swap Segment</h6>
          <div class="col-1">
            <label for="out_segment">out</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="out_segment" placeholder="input swap out">
          </div>
          <div class="col-1">
            <label for="in_segment">in</label>
          </div>
          <div class="col-4">
            <input type="text" class="form-control" id="in_segment" placeholder="input swap in">
          </div>
          <div class="col-1">
            <button class="btn btn-primary bg-secondary" onclick="sequence('swap');">Swap!</button>
          </div>
        </div>

      </div> <!- End String Ops column ->

      <div class="col-md-6 p-3"> <!- Start String Sequence column ->

        <table class="table">
          <thead>
            <tr>
              <th scope="col">Last action</th>
            </tr>
          </thead>
          <tbody>
            <tr><td id="status" th:text="${object.getStatus()}"></td></tr>
          </tbody>
        </table>

        <table class="table">
          <thead>
          <tr>
            <th scope="col">History of events</th>
          </tr>
          </thead>
          <tbody id="body">
          <tr th:each="event : ${object.getEvents()}">
            <td th:text="${event}"></td>
          </tr>
          </tbody>
        </table>

      </div>  <!- End String Sequence column ->

    </div> <!- End Row ->

  </div> <!- End Container ->
  <script>
    function sequence(action) {
      const url = '/api/mvc/stringops/';  // url contains api location for stringops
      const body = {  // body contains all data from user input form
        action: action,
        title: document.getElementById("new_title").value,
        new_sequence: document.getElementById("new_sequence").value,
        append_segment: document.getElementById("append_segment").value,
        insert_segment: document.getElementById("insert_segment").value,
        insert_location: document.getElementById("insert_location").value,
        out_segment: document.getElementById("out_segment").value,
        in_segment: document.getElementById("in_segment").value
      };
      const request = {  // request sets up payload for api
        method: "POST",
        body: JSON.stringify(body),
        cache: "no-cache",
        headers: {
          "content-type": "application/json"
        }
      };
      // fetch calls API with "request" as action/payload
      // each .then occurs when a Promise is Fulfilled, meaning the asynchronous operation has completed with a value
      fetch(url, request)
        .then(response => response.json())
        .then(data => {
          // build a visual response from JSON data to DOM element IDs
          document.getElementById("title").innerHTML = data.title;
          document.getElementById("sequence").innerHTML = data.data;
          document.getElementById("status").innerHTML = data.status;
          // cleanup event history (from previous display)
          const bodyContainer = document.getElementById("body");
          while (bodyContainer.firstChild) {
            bodyContainer.removeChild(bodyContainer.firstChild);
          }
          // display event history
          for (let i = 0; i < data.events.length; i++) {
            const event = document.createElement("tr");
            event.innerHTML = '<td>' + data.events[i] + '</td>';
            bodyContainer.appendChild(event);
          }
        });
      }

  </script>
</th:block>`

</html>
