<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> page additions -->
<th:block layout:fragment="head" th:remove="tag">
    <title>Data Filters</title>
</th:block>

<!-- <body> -->
<th:block layout:fragment="body" th:remove="tag">
    <div class="container bg-secondary py-4">
        <div class="p-5 mb-4 bg-light text-dark rounded-3">
            <h2>Content Upload</h2>
            <hr>
            <!--Notes input form, textarea supports multiple lines of input  -->
            <form id="upload" enctype="multipart/form-data" th:action="@{/mvc/uploader}" method = "POST">
                <table class="table">
                    <thead>
                    <tr>
                        <th><label for="filename">Upload a new file:</label></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="file" id="filename" name="filename" /></td>
                        <td><input type="submit" value="Upload" ></td>
                    </tr>
                    </tbody>
                </table>
            </form>
            <hr>
            <!-- Add something to show what user has uploaded-->
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                    <tr th:each="i : ${#numbers.sequence(files.size() - 1, 0, -1)}"
                        th:with="file=${files[i]}">

                        <td><a th:href="@{{filename}(filename = ${file.file})}"> <span  th:text="${file.file}"> </span></a></td>

                        <td><span th:text="${file.file}"></span></td>
                        <td><span th:text="${file.type}"></span></td>
                        <td><span th:text="${file.size}"></span></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>