html, body{
    margin: 0;
    height: 100%;

    background-color: var(--lblue);
    color: var(--black);
}

.dark-mode {
    background-color: var(--white);
    color: var(--black);
}

h1{
    font-size: 5em;
}

a {
    color: midnightblue;
}

.fa{
    font-size: 3em;
    letter-spacing: 1em;
    transition: all .2s;
    color: white;
}

.fa:hover{
    transform: translateY(10px);
}

.fa-youtube-play:hover{
    color: #cc0000;
}

.fa-twitter:hover{
    color: #1da1f2;
}

.fa-github:hover{
    color: #000000;
}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    color: white;
    font-size: 2.5em;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 20px 40px rgba(255, 255, 255, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
}

.row{
    margin: auto;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: var(--lblue);
}