<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>APUSH Twitter</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Twitter Feed</span>

 </div>
        </header>

        <h1> You'll be able to find all AP Updates here. </h1>

        <!--- twitter feed follow button --->

        <a href="https://twitter.com/APforStudents?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @APforStudents</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <!---- twitter feed link api -->

        <a class="twitter-timeline" href="https://twitter.com/APforStudents?ref_src=twsrc%5Etfw">Tweets by APforStudents</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        <div class="container-fluid py-1">


        </div>
    </div>
    <!-- End of body content specific to page -->
</div>

</html>