<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
    <!-- Page specific head additions -->
    <title>Spring Intro</title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
    <!-- Page specific body additions -->
    <div class="container py-4">
        <header class="pb-3 mb-4 border-bottom border-primary">
            <div class="d-flex align-items-center text-dark text-decoration-none">
                <span class="fs-4">Home Page - Welcome to Swanson's Class</span>
            </div>
        </header>

        <div class="container-fluid py-1">
            <div class="container py-4">

                <div class="mb-4 rounded-3 p-3">
                    <div class="container-fluid py-2">
                        <div class="row">

                            <div class="col-md-15">
                                <img alt="" class="d-inline-block align-left"
                                      src=""
                                      th:src="@{/images/Swanson.JPG}"
                                      height="250px"
                                      width="auto">
                                <img alt="" class="d-inline-block align-center"
                                     src=""
                                     th:src="@{/images/Swanson1.jpg}"
                                     height="250px"
                                     width="auto">

                            </div>
                            <div class="col-md-18">
                                    <img alt="" class="d-inline-block align-left"
                                         src=""
                                         th:src="@{/images/Swanson2.JPG}"
                                         height="250px"
                                         width="auto">
                                    <img alt="" class="d-inline-block align-center"
                                         src=""
                                         th:src="@{/images/Swanson3.jpg}"
                                         height="250px"
                                         width="auto">
                            </div>
                            <div class="col-md-9">
                                <ol>
                                Welcome to Swanson's page of tutorial notes. After each tutorial, please upload your notes onto the accurate chapter. Each chapter is password access only, so you can only access everyone's notes if you were at the tutorial.
                                </ol>
                            </div>

                        </div>
                    </div>



                </div>
            </div>

        </div>
    </div>
    <!-- End of body content specific to page -->
</div>

</html>