<!-- This page is illustrative and contains ideas about HTML formatting -->
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<!-- Head, think of things that are more meta or format oriented -->
<head>
    <div th:replace="fragments/headfile :: header"></div>
    <!-- Head defaults to ellipses, details are added by ThymeLeaf layout fragment -->
    <div layout:fragment="metadata">...</div>
</head>

<body>
    <!-- Header of Page, includes Navigation -->
    <div th:replace="fragments/header :: header"></div>

    <!-- Body defaults to ellipses, details are added by ThymeLeaf layout fragment -->
    <div layout:fragment="content">...</div>

    <!-- Footer of Page, includes things like contacts or copywrite -->
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>