<!-- This page is illustrative and contains ideas about HTML layouts -->
<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <div th:replace="fragments/head :: headfile" th:remove="tag">Standard head for all pages</div>
    <link th:href="@{/css/palette.css}" rel="stylesheet">
    <div layout:fragment="colors" th:remove="tag">
        <!-- standard colors -->
        <link th:href="@{/css/colors.css}" rel="stylesheet">
    </div>
    <link th:href="@{/css/styles.css}" rel="stylesheet">
    <div layout:fragment="head" th:remove="tag">Details are added by ThymeLeaf layout consume</div>
    <title></title>
</head>

<body>
    <div th:replace="fragments/nav :: header" th:remove="tag">Standard header</div>
    <div layout:fragment="body" th:remove="tag">Body details are added by ThymeLeaft layout consumer</div>
    <div th:replace="fragments/footer :: footer" th:remove="tag">Standard footer</div>
</body>
</html>