<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Fibonacci Algo</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    `<div class="container">

    <div class="center-block" style="margin: 2% 3% 3%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Data Filtering and Sorting</strong></h1>
        </div>
        <!-- Form and Action -->
        <div class="jumbotron text-center row">
            <!-- Input -->
            <div class="col-md-6">
                <h3>Select options to filter and sort</h3>
                <form id="fibForm" action="/data" method="POST" >
                    <div class="jumbotron text-left row">
                        <!-- Animal: queue, name, age, color -->
                        <div class="col-md-4">
                            <input type="checkbox" id="animal" name="animal" value="1" checked>
                            <label for="animal">   Animals</label>
                            <div>
                                <input type="radio" name="ani_sort" id="ani_queue" value="1" checked>
                                <label for="ani_queue">Queue</label>
                            </div>
                            <div>
                                <input type="radio" name="ani_sort" id="ani_name" value="1">
                                <label for="ani_name">Name</label>
                            </div>
                            <div>
                                <input type="radio" name="ani_sort" id="ani_age" value="1">
                                <label for="ani_age">Age</label>
                            </div>
                            <div>
                                <input type="radio" name="ani_sort" id="ani_color" value="1">
                                <label for="ani_color">Color</label>
                            </div>
                        </div>
                        <!-- Cup Cakes: queue, flavor, frosting, sprinkles -->
                        <div class="col-md-4">
                            <input type="checkbox" id="cake" name="cake" value="1" checked>
                            <label for="cake">Cup Cakes</label>
                            <div>
                                <input type="radio" name="cc_sort" id="cc_queue" value="1" checked>
                                <label for="cc_queue">Queue</label>
                            </div>
                            <div>
                                <input type="radio" name="cc_sort" id="cc_flavor" value="1">
                                <label for="cc_flavor">Flavor</label>
                            </div>
                            <div>
                                <input type="radio" name="cc_sort" id="cc_frosting" value="1">
                                <label for="cc_frosting">Frosting</label>
                            </div>
                            <div>
                                <input type="radio" name="cc_sort" id="cc_sprinkles" value="1">
                                <label for="cc_sprinkles">Sprinkles</label>
                            </div>
                        </div>
                        <!-- Alphabet: queue, name, age, color -->
                        <div class="col-md-4">
                            <input type="checkbox" id="alpha" name="alpha" value="1" checked>
                            <label for="alpha">Alphabet</label>
                            <div>
                                <input type="radio" name="alpha_sort" id="alpha_queue" value="1" checked>
                                <label for="alpha_queue">Queue</label>
                            </div>
                            <div>
                                <input type="radio" name="alpha_sort" id="alpha_letter" value="1">
                                <label for="alpha_letter">Letter</label>
                            </div>
                        </div>
                    </div>
                    <button>Go!</button>
                </form>
            </div>
            <!-- Output/Result -->
            <div class="col-md-6">
                <h3>Filtered Summary</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">First Row</th>
                        <th scope="col">Last Row</th>
                    </tr>
                    <tr>
                        <!-- Circle Queue Highlight data (summary)  -->
                        <td th:text="${cQC.getCount()}"></td>
                        <td th:text="${cQC.getQueue().getFirstObject()}"></td>
                        <td th:text="${cQC.getQueue().getLastObject()}"></td>
                    </tr>
                </table>
                <br><h3>Data Details</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Rows</th>
                    </tr>
                    <!-- Circle Detail data (rows) -->
                    <tr th:each="line: ${cQC.getCQList()}">
                        <td th:text="${line}" ></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Source Code -->
        <div class="col-12" style="text-align: left; ">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FCircleQueueController.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>        </div>
        </div>
    </div>
    <!-- Table Style -->
    <style>
        table, td, th {
            border: 1px solid var(--dblue);
        }
        td, th {
            text-align:left;
        }
    </style>
</div>`
</body>

</html>
