<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- layout::fragment="content" is heart of ThymeLeaf layout -->
<head>
    <div layout:fragment="metadata" th:remove="tag">
        <title>Data Filters</title>
    </div>
</head>

<body>
<div layout:fragment="content" th:remove="tag">
    `<div class="container">

    <div class="center-block" style="margin: 2% 3% 3%; font-family: gilroy,serif;">
        <!-- Title -->
        <div class="col-12" style="text-align: center;">
            <h1><strong>Data Filtering and Sorting</strong></h1>
        </div>
        <!-- Form and Action -->
        <div class="jumbotron text-center row">
            <!-- Input -->
            <div class="col-md-6">
                <h3>Select options to filter and sort</h3>
                <form id="fibForm" action="/data" th:object="${ctl}" method="POST" >
                    <div class="jumbotron text-left row">
                        <!-- Animals -->
                        <div class="col-md-4">
                            <!-- Checkbox on/off works off of @Getter for boolean isAnimal() -->
                            <input type="checkbox" id="animal" name="animal" value="1" th:checked="${ctl.isAnimal()}">
                            <label for="animal">Animals</label>
                            <div class="form-group">
                                <label>Sort by</label>
                                <!-- Sort by Radio buttons:
                                1. option(s) are generated directly from Animal.KeyType
                                2. animalKey is the result of radio button selection
                                3. each radio option is provided a unique id, review rendered code to see expansion
                                -->
                                <div th:each="option : ${T(com.nighthawk.csa.algorithm.genericDataModel.Animal.KeyType).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{animalKey}" th:value="${option}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('animalKey')}" th:text="${option}">option</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Cupcakes -->
                        <div class="col-md-4">
                            <input type="checkbox" id="cake" name="cake" value="1" th:checked="${ctl.isCake()}">
                            <label for="cake">Cup Cakes</label>
                            <div class="form-group">
                                <label>Sort by</label>
                                <div th:each="option : ${T(com.nighthawk.csa.algorithm.genericDataModel.Cupcakes.KeyType).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{cakeKey}" th:value="${option}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('cakeKey')}" th:text="${option}">option</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Alphabet -->
                        <div class="col-md-4">
                            <input type="checkbox" id="alpha" name="alpha" value="1" th:checked="${ctl.isAlpha()}">
                            <label for="alpha">Alphabet</label>
                            <div class="form-group">
                                <label>Sort by</label>
                                <div th:each="option : ${T(com.nighthawk.csa.algorithm.genericDataModel.Alphabet.KeyType).values()}">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" th:field="*{alphaKey}" th:value="${option}" class="custom-control-input">
                                        <label class="custom-control-label" th:for="${#ids.prev('alphaKey')}" th:text="${option}">option</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button>Go!</button>
                </form>
            </div>
            <!-- Output/Result -->
            <div class="col-md-6">
                <h3>Filtered Summary</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Size</th>
                        <th scope="col">First Row</th>
                        <th scope="col">Last Row</th>
                    </tr>
                    <tr>
                        <!-- Circle Queue Highlight data (summary)  -->
                        <td th:text="${ctl.getCount()}"></td>
                        <td th:text="${ctl.getQueue().getFirstObject()}"></td>
                        <td th:text="${ctl.getQueue().getLastObject()}"></td>
                    </tr>
                </table>
                <br><h3>Data Details</h3>
                <table class="mx-auto">
                    <tr>
                        <th scope="col">Rows</th>
                    </tr>
                    <!-- Circle Detail data (rows) -->
                    <tr th:each="line: ${ctl.getCQList()}">
                        <td th:text="${line}" ></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- Source Code -->
        <div class="col-12" style="text-align: left; ">
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FDataOpsController.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fresources%2Ftemplates%2Falgorithm%2Fdata.html&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Falgorithm%2FgenericDataModel%2FAnimal.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
            <script src="https://emgithub.com/embed.js?target=https%3A%2F%2Fgithub.com%2Fnighthawkcoders%2Fnighthawk_csa%2Fblob%2Fmaster%2Fsrc%2Fmain%2Fjava%2Fcom%2Fnighthawk%2Fcsa%2Fmodel%2Flinkedlists%2FCircleQueue.java&style=github&showBorder=on&showLineNumbers=on&showFileMeta=on"></script>
        </div>
    </div>
    <!-- Table Style -->
    <style>
        table, td, th {
            border: 1px solid var(--dblue);
        }
        td, th {
            text-align:left;
        }
    </style>
</div>`
</body>

</html>
