<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head section> -->
<th:block layout:fragment="head" th:remove="tag">
  <!-- Page specific head additions -->
  <title>Strings Algo</title>
  <!-- Override colors.css -->
</th:block>

<!-- <body> -->
<th:block layout:fragment="body" th:remove="tag">
<!-- Page specific body additions -->
  <div class="container py-4">
    <header class="pb-3 mb-4 border-bottom border-primary">
      <div class="d-flex align-items-center text-dark text-decoration-none">
        <span class="fs-4">String Ops Page</span>
      </div>
    </header>

    <div class="row mb-4 bg-light text-dark rounded-3">

      <div class="col-md-6 p-5"> <!- Start String Ops Column ->

        <h6 id="heading" th:text="'String sequence: ' + ${object}"></h6>

        <div class="row p-4">
          <input type="text" class="form-control" id="new_sequence" placeholder="start a new sequence">
          <button class="btn btn-primary bg-secondary" onclick="sequence('new');">New!</button>
        </div>

        <div class="row p-4">
          <input type="text" class="form-control" id="update_sequence" placeholder="update or override string sequence">
          <button class="btn btn-primary bg-secondary" onclick="sequence('update');">Update!</button>
        </div>

        <div class="row p-4">
          <input type="text" class="form-control" id="insert_segment" placeholder="insert sequence">
          <input type="number" class="form-control" id="insert_location" value="0" min="0">
          <button class="btn btn-primary bg-secondary" onclick="sequence('insert');">Insert!</button>
        </div>

        <div class="row p-4">
            <input type="text" class="form-control" id="out_segment" placeholder="out segment">
            <input type="text" class="form-control" id="in_segment" placeholder="in segment">
            <button class="btn btn-primary bg-secondary" onclick="sequence('swap');">Swap!</button>
        </div>

      </div> <!- End String Ops column ->

      <div class="col-md-6 p-5"> <!- Start String Sequence column ->

        <div class="h-100">
          <table class="table">
            <thead>
            <tr>
              <th scope="col">Sequence of operations</th>
            </tr>
            </thead>
            <tbody id="result">
            <tr th:each="event : ${object.getEvents()}">
              <td th:text="${event}"></td>
            </tr>
            </tbody>
          </table>
        </div>

      </div>  <!- End String Sequence column ->

    </div> <!- End Row ->

  </div> <!- End Container ->
  <script>
    function sequence(action) {
      // fetch standard requires data set to a name-value pair
      const body = {
        new_sequence: document.getElementById("new_sequence").value,
        update_sequence: document.getElementById("update_sequence").value,
        insert_segment: document.getElementById("insert_segment").value,
        insert_location: document.getElementById("insert_location").value,
        out_segment: document.getElementById("out_segment").value,
        in_segment: document.getElementById("in_segment").value,
        action: action
      };
      // fetch call with header options
      fetch('/api/strings/', {
        method: "POST",
        credentials: "include",
        body: JSON.stringify(body),
        cache: "no-cache",
        headers: new Headers({
          "content-type": "application/json"
        })
      })
      // async then replies with response header
      .then(function (response) {
        /* prepare HTML search result container for new output by
           cleaning up existing result area */
        const resultContainer = document.getElementById("result");
        while (resultContainer.firstChild) {
          resultContainer.removeChild(resultContainer.firstChild);
        }
        // this response assumes valid result
        response.json().then(function(result) {
          document.getElementById("heading").innerHTML = "String sequence: " + result.string;
          // loop through JSON and build HTML output
          for (let i = 0; i < result.events.length; i++) {
            const row = document.createElement("tr");
            row.innerHTML = '<td>' + result.events[i] + '</td>';
            resultContainer.appendChild(row);
          }
        })
      })
    }
  </script>
</th:block>`

</html>
