<!DOCTYPE HTML>
<!-- Signals to the Layout Dialect which layout should be used to decorate this View -->
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" lang="en">

<!-- <head> -->
<div layout:fragment="head" th:remove="tag">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/4.0.0/github-markdown.min.css" integrity="sha512-Oy18vBnbSJkXTndr2n6lDMO5NN31UljR8e/ICzVPrGpSud4Gkckb8yUpqhKuUNoE+o9gAb4O/rAxxw1ojyUVzg==" crossorigin="anonymous" />
  <title>Services </title>
</div>

<!-- <body> -->
<div layout:fragment="body" th:remove="tag">
  <div class="container">
    <h1>Calendar:</h1>

    <!-- <body> -->
    <div layout:fragment="body" th:remove="tag">
      <div class="container">
        <h1>Services We Offer: </h1>
        <!-- ACTIVE INTEGRATION -->
        <fieldset>
          <ul class="flex">
            <li class="third">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_FirstName">First Name*</label>
                <input required="required" type="text" id="LocalContactUs_ITM0_FirstName" name="LocalContactUs$ITM0$FirstName" value>
                <div class="validation" for="LocalContactUs_ITM0_FirstName" data-type="valueMissing">
                  Please enter your first name.
                </div>
              </div>
            </li>
            <li class="third">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_LastName">Last Name*</label>
                <input required="required" type="text" id="LocalContactUs_ITM0_LastName" name="LocalContactUs$ITM0$LastName" value>
                <div class="validation" for="LocalContactUs_ITM0_LastName" data-type="valueMissing">
                  Please enter your last name.
                </div>
              </div>
            </li>
            <li class="third">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_EmailAddress">Email*</label>
                <input required="required" type="email" id="LocalContactUs_ITM0_EmailAddress" name="LocalContactUs$ITM0$EmailAddress" value>
                <div class="validation" for="LocalContactUs_ITM0_EmailAddress" data-type="typeMismatch">
                  This isn't a valid email address.
                </div>
                <div class="validation" for="LocalContactUs_ITM0_EmailAddress" data-type="valueMissing">
                  Please enter your email address.
                </div>
              </div>
            </li>
            <li class="third">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_Phone">Phone*</label>
                <input id="LocalContactUs_ITM0_Phone" type="tel" pattern="[(]\d{3}[)][\s]\d{3}[\-]\d{4}" class="phone-mask" required="required" name="LocalContactUs$ITM0$Phone" value>
                <div class="validation" for="LocalContactUs_ITM0_Phone" data-type="typeMismatch">
                  This isn't a valid phone number.
                </div>
                <div class="validation" for="LocalContactUs_ITM0_Phone" data-type="valueMissing">
                  Please enter your phone number.
                </div>
              </div>
            </li>
            <li class="third">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_ZipCode">ZIP/Postal Code*</label>
                <input required="required" id="LocalContactUs_ITM0_ZipCode" type="text" name="LocalContactUs$ITM0$ZipCode" value>
                <div class="validation" for="LocalContactUs_ITM0_ZipCode" data-type="valueMissing">
                  Please enter your zip/postal code.
                </div>
              </div>
            </li>
            <li class="third">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_BestTimeToCall">Best time to call?*</label>
                <select id="LocalContactUs_ITM0_BestTimeToCall" required="required" name="LocalContactUs$ITM0$BestTimeToCall">
                  <option value=""></option>
                  <option value="Morning">Morning</option>
                  <option value="Afternoon">Afternoon</option>
                  <option value="Evening">Evening</option>
                </select>
                <div class="validation" for="LocalContactUs_ITM0_BestTimeToCall" data-type="valueMissing">
                  Please make a selection.
                </div>
                <svg viewBox="0 0 36 36"><use data-href="/cms/svg/site/u8148xpqnhx.36.svg#arrow_down"></use></svg>
              </div>
            </li>
            <li class="full">
              <div class="input-text">
                <label for="LocalContactUs_ITM0_Message">How we can help you?*</label>
                <textarea required="required" placeholder="" type="text" id="LocalContactUs_ITM0_Message" name="LocalContactUs$ITM0$Message"></textarea>
                <div class="validation" for="LocalContactUs_ITM0_Message" data-type="valueMissing">
                  Please enter a message.
                </div>
              </div>
            </li>
            <li class="full radio-buttons">
              <div class="input-text flex f_l">
                <label for="LocalContactUs_ITM0_PreviousContactedTutorDoctor">Have you been in touch with Tutor Doctor before?</label>
                <ul id="LocalContactUs_ITM0_PreviousContactedTutorDoctor">
                  <li>
                    <input type="radio" value="Yes" id="LocalContactUs_ITM0_PreviousContactedTutorDoctor_0" name="LocalContactUs$ITM0$PreviousContactedTutorDoctor">
                    <label class="cms-replace" tabindex="0" for="LocalContactUs_ITM0_PreviousContactedTutorDoctor_0"></label>
                    <label for="LocalContactUs_ITM0_PreviousContactedTutorDoctor_0">Yes</label>
                  </li>
                  <li>
                    <input type="radio" value="No" id="LocalContactUs_ITM0_PreviousContactedTutorDoctor_1" name="LocalContactUs$ITM0$PreviousContactedTutorDoctor">
                    <label class="cms-replace" tabindex="0" for="LocalContactUs_ITM0_PreviousContactedTutorDoctor_1"></label>
                    <label for="LocalContactUs_ITM0_PreviousContactedTutorDoctor_1">No</label>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
          <div class="required-note">*Indicates required field</div>
          <div class="btn-con">
            <input id="LocalContactUs_ITM0_FFD6" type="hidden" name="LocalContactUs$ITM0$FFD6" value>

            <button class="btn v1" type="submit" id="LocalContactUs_ITM0_ctl13" name="LocalContactUs$ITM0$ctl13" data-commandname="Insert"><span>Submit</span></button>
          </div>
        </fieldset>
      </div>
      </section>

    </div>


  </div>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWVQP9F" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <script>
    document.write=function(text){
      if(!text||!text.trim()){
        return;
      }
      var reg_script=/^(<script[^>]*?>)([\s\S]*?)<\/script>$/g;
      var m=reg_script.exec(text);
      if(m){
        var src=/\bsrc=["']([\s\S]+?)["']/g.exec(m[1]);
        var script=document.createElement('script');
        script.setAttribute('data-document-write','');
        document.body.appendChild(script);
        if(src){
          script.src=src[1];
        }else{
          script.innerHTML = m[2];
        }
      }else if(text.indexOf('<noscript')===-1){
        var parser=new DOMParser();
        var doc=parser.parseFromString(text,'text/html');
        while(doc.body.children.length){
          document.body.appendChild(doc.body.firstElementChild);
        }
      }
    };
    (function(){
      var list=[
        "%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0D%0A(function(i%2Cs%2Co%2Cg%2Cr%2Ca%2Cm)%7Bi%5B'GoogleAnalyticsObject'%5D%3Dr%3Bi%5Br%5D%3Di%5Br%5D%7C%7Cfunction()%7B%0D%0A(i%5Br%5D.q%3Di%5Br%5D.q%7C%7C%5B%5D).push(arguments)%7D%2Ci%5Br%5D.l%3D1*new%20Date()%3Ba%3Ds.createElement(o)%2C%0D%0Am%3Ds.getElementsByTagName(o)%5B0%5D%3Ba.defer%3D!0%3Ba.src%3Dg%3Bm.parentNode.insertBefore(a%2Cm)%0D%0A%7D)(window%2Cdocument%2C'script'%2C'%2F%2Fwww.google-analytics.com%2Fanalytics.js'%2C'ga')%3B%0D%0A%0D%0Aga('create'%2C%20'UA-2898725-1'%2C%20'auto')%3B%0D%0A%0D%0Aga('require'%2C%20'displayfeatures')%3B%0D%0A%0D%0Aga('send'%2C%20'pageview')%3B%0D%0A%0D%0A%3C%2Fscript%3E",
        "%0A",
        "%3Cscript%20type%3D%22text%2Fjavascript%22%3E%0D%0A%2F*%20%3C!%5BCDATA%5B%20*%2F%0D%0Avar%20google_conversion_id%20%3D%20953841207%3B%0D%0Avar%20google_custom_params%20%3D%20window.google_tag_params%3B%0D%0Avar%20google_remarketing_only%20%3D%20true%3B%0D%0A%2F*%20%5D%5D%3E%20*%2F%0D%0A%3C%2Fscript%3E",
        "%0D%0A",
        "%3Cscript%20type%3D%22text%2Fjavascript%22%20src%3D%22%2F%2Fwww.googleadservices.com%2Fpagead%2Fconversion.js%22%3E%0D%0A%3C%2Fscript%3E",
        "%0D%0A",
        "%0A",
        "%3C!--%20Google%20Tag%20Manager%20--%3E",
        "%0D%0A",
        "%3Cscript%3E(function(w%2Cd%2Cs%2Cl%2Ci)%7Bw%5Bl%5D%3Dw%5Bl%5D%7C%7C%5B%5D%3Bw%5Bl%5D.push(%7B'gtm.start'%3A%0D%0Anew%20Date().getTime()%2Cevent%3A'gtm.js'%7D)%3Bvar%20f%3Dd.getElementsByTagName(s)%5B0%5D%2C%0D%0Aj%3Dd.createElement(s)%2Cdl%3Dl!%3D'dataLayer'%3F'%26l%3D'%2Bl%3A''%3Bj.async%3Dtrue%3Bj.src%3D%0D%0A'https%3A%2F%2Fwww.googletagmanager.com%2Fgtm.js%3Fid%3D'%2Bi%2Bdl%3Bf.parentNode.insertBefore(j%2Cf)%3B%0D%0A%7D)(window%2Cdocument%2C'script'%2C'dataLayer'%2C'GTM-WWVQP9F')%3B%3C%2Fscript%3E",
        "%0D%0A",
        "%3C!--%20End%20Google%20Tag%20Manager%20--%3E",
        "%0A",
        "%3C!--%20Facebook%20Pixel%20Code%20--%3E",
        "%0D%0A",
        "%3Cscript%3E%0D%0A!function(f%2Cb%2Ce%2Cv%2Cn%2Ct%2Cs)%7Bif(f.fbq)return%3Bn%3Df.fbq%3Dfunction()%7Bn.callMethod%3F%0D%0An.callMethod.apply(n%2Carguments)%3An.queue.push(arguments)%7D%3Bif(!f._fbq)f._fbq%3Dn%3B%0D%0An.push%3Dn%3Bn.loaded%3D!0%3Bn.version%3D'2.0'%3Bn.queue%3D%5B%5D%3Bt%3Db.createElement(e)%3Bt.defer%3D!0%3B%0D%0At.src%3Dv%3Bs%3Db.getElementsByTagName(e)%5B0%5D%3Bs.parentNode.insertBefore(t%2Cs)%7D(window%2C%0D%0Adocument%2C'script'%2C'%2F%2Fconnect.facebook.net%2Fen_US%2Ffbevents.js')%3B%0D%0A%0D%0Afbq('dataProcessingOptions'%2C%20%5B'LDU'%5D%2C%200%2C%200)%3B%0D%0A%0D%0Afbq('init'%2C%20'779637772770622')%3B%0D%0Afbq('track'%2C%20'PageView')%3B%3C%2Fscript%3E",
        "%0D%0A",
        "%0D%0A",
        "%3C!--%20End%20Facebook%20Pixel%20Code%20--%3E",
        "%0A"
      ];
      var ready=function(){
        requestAnimationFrame(function(){
          for(var i=0;i<list.length;i++){
            var code=decodeURIComponent(list[i]);
            document.write( code );
          }
        });
        window.removeEventListener('DOMContentLoaded',ready);
      };
      switch (document.readyState){
        case 'complete':
        case 'loaded':
        case 'interactive':
          ready();
          break;
        default:
          window.addEventListener('DOMContentLoaded',ready);
          break;
      }
    })();
  </script>
  <noscript>
    <div style="display:inline;">
      <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/953841207/?value=0&guid=ON&script=0">
    </div>
  </noscript>
  <noscript><img height="1" width="1" style="display:none" alt="" src="https://www.facebook.com/tr?id=779637772770622&ev=PageView&noscript=1"></noscript>
  <script type="text/javascript" src="/cms/includes/0tdjoccq8bt.2112151757306.js" defer data-require='["a/bootstrap2","svg","sa.test","p/utils","p/scroll","p/site-header","p/slide-toggle","p/tabbable","p/poly","p/form-proto","p/behaviors","p/form"]'></script>

